.nav{
  display: flex;
  justify-content: center;

}
ul {
  
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  
  }
  
  li {
    float: left;
  }
  li a{
    background-color: palevioletred;
    margin: 2%;
    color: white;
    display: block;
    font-size: 18px;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
  
  }